:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/*Grid*/

body{
    min-height: 100vh;
    max-width: 1440px;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Outfit', sans-serif;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    text-align: center;
}

.outline{
    margin: 0 auto;
    grid-row-start: 2 ;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--white);
    border-radius: 10%;
    width: 340px;

    
}

.barimg {
    border-radius: 10%;
    margin: 20px auto 30px auto;
    width: 300px;
    height: 300px;
}

h2{
    font-weight: 700;
    color: var(--dark-blue);
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
}

h3{
    font-weight: 400;
    color: var(--grayish-blue);
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding: 20px 0 30px 0;
}


.attribution{
    grid-row-start: 3;
    grid-column-start: 2;
    margin: 0 auto;
}
